<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Game_of_Life.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Game_of_Life.Properties.Settings>
            <setting name="GraphicsPanel1_Backcolor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="GraphicsPanel1_Gridcolor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="GraphicsPanel1_SelectedBoxColor" serializeAs="String">
                <value>Gray</value>
            </setting>
            <setting name="GraphicsPanel1_SelectedCellNumberColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="GraphicsPanel1_UnselectedCellNumberColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="Form1_TimerInterval" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Form1_UniverseRows" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Form1_UniverseColumns" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="GraphicsPanel1_Gridx10Color" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="Form1_RandomizeStyle" serializeAs="String">
                <value>time</value>
            </setting>
        </Game_of_Life.Properties.Settings>
    </userSettings>
</configuration>